<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Task Manager</h1>
    <h3>Hi, <%= @user.email.split("@")[0] %></h3>
    <p>
      <%= link_to @user.email.split("@")[0] , user_url(@user) %> removed you from this <b><%= link_to @project.name , project_url(@task) %></b> project.
    </p>
    <p>Thanks for joining and have a great day!</p> <p>Turn it <%= link_to 'off', torn_off_email_user_url(@user) %>.</p>
  </body>
</html>